<%- include header.ejs %>


<body>
    <div class="formHeadDiv" style="width:100%;display:inline-block;text-align: center">

        <p id="nameValidation" style="color:red;font-size:15px;display: none;">Name Shoule Be More than 5 Character</p>
        <input id="catName" autocomplete="off" name="title" class="form-control form-control-lg" type="text"
            placeholder="Name" style="display:inline-block; text-align:left;width: 60%"><br><br>


        <button id="btnAdd" type="button" class="btn btn-primary">Add</button>
        <!-- <button id="btnAddCategory"  value="Submit" style="display:inline-block; text-align:left;width: 15%;height: 45px;background: darkblue;color: white"> -->
        <br><br>
        <br><br>
        <br><br>
        <br><br>

        <script>
            $(document).ready(function () {
                $("#btnAdd").click(function () {
                    // alert("response")
                    var name = $("#catName").val()

                    $.ajax({
                        url: '/ourblog/category/',
                        type: 'post',
                        dataType: 'JSON',
                        data: {
                            name
                        },
                        success: (response) => {
                            var result = response.error
                            if (!result.localeCompare("error")) {
                                $("#nameValidation").css('display','block') 
                             //   alert(result);
                            } else {
                                $("#nameValidation").css('display','none')
                               // alert(result);
                                $(document).ajaxStop(function () {
                                    window.location.reload();
                                });

                                // alert("" + response)
                            }
                        }
                    })

                })
            })
        </script>

    </div>



    <!-- <script>
    $(document).ready(function () {

        $("#btnData").click(function () {

            $.ajax({
                url: '/ourblog/category/data/',
                type: 'get',
                dataType: 'JSON',
                success: function (response) {

                    var headDiv = $("#headDiv")
                
                    response.result.forEach(element => {

                        var s = `<div class="blogDiv" id="blogDivId">  <h2>${element.title}</h2>
                        <h6>${element.author}</h6>
                        <img align=center id="blogImage" src="/public/images/upload/${element.image}" alt="">

                        <p id="blogdescription">${element.body}
                        </p>   </div>`

                        headDiv.append(s)
                    });

                }
            });
        });
    });
</script> -->


    <%- include footer.ejs %>